* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

img {
  height: 500px;
}

#counters {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px 0;

  background: white;
  border-radius: 6px;

}

.numbers {

  font-weight: 600;
  font-size: 50px;
}

.green-number {
  color: #C5FB01;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.button {
  font-size: 16px;
  color: #8600b6;
  background: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#reset {
  color: black;
}

#stop {
  color: red;
}

.active {
  opacity: 0.5;
}